{% set actionBtn = {link: path('app_user_add'), label: 'Redakteur erstellen'} %}
{% extends 'layouts/base.html.twig' %}

{% block body %}
  <div class="form-wrapper">
    {{ form_start(form, {attr: {class: 'manage'}}) }}
    {% include 'components/pages/item_header.html.twig' with { backLink: path('app_user_browse')} %}

    <div class="fields">
      <div class="field">
        <input type="email"
               value="{{ field_value(form.email) }}"
               name="{{ field_name(form.email) }}"
               id="{{ field_name(form.email) }}"
               class="default peer"
               placeholder=" "
               autocomplete="email"
               required>
        {% include 'components/form/label_for_input.html.twig' with {id: field_name(form.email), text: field_label(form.email)} %}
      </div>

      <div class="field mt-4 flex items-center">
        {{ form_widget(form.verified) }}
        {{ form_label(form.verified) }}
      </div>

      <p class="mt-4">Zum zurückzusetzen oder ändern des Passwortes bitte die Funktion "Passort vergessen" nutzen.</p>
    </div>
    {{ form_end(form) }}
  </div>

  {% if errors is defined %}
    {% include 'components/dialog/dialog.html.twig' with {title: (errors|length == 1 ? 'Problem' : 'Probleme') ~ ' aufgetreten', message: errors, buttonText: 'OK'} %}
  {% endif %}
{% endblock %}